div(data-ng-repeat="row in profile_grid" class="row")
	div(data-ng-repeat="item in row" class="profile")
		div(class="header")
			.row
				div(class="name") {{ item.profile.first_name }} {{ item.profile.last_name }}
				div(data-follow-button="item._id")
			.row
				div(class="location") {{ item.profile.location }}
		div(class="body")
			div(class="skills")
				strong Skills: 
				span {{ item.profile.skills }} 
			
