@font-face {
	font-family: 'InsaniburgerwithCheese';
	src: url('../fonts/insaniburger/InsaniburgerwithCheese.eot?') format('eot'), 
	     url('../fonts/insaniburger/InsaniburgerwithCheese.woff') format('woff'), 
	     url('../fonts/insaniburger/InsaniburgerwithCheese.ttf')  format('truetype'),
	     url('../fonts/insaniburger/InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg');
}

body,html {
	margin: 0;
	padding: 0;
	background: #F1F1F1;
	font-family: 'Roboto', 'Helvetica Neue' sans-serif;
	font-size: 1em;
}

h1 {
	font-family: 'Futura';
	font-size: 3.5em;
	color: #000;	
}

h2 {
	font-family: 'Bariol';
	color: $text_color_1;
	font-size: 2.5em;
}

ul li a {
	text-decoration: none;
}

label {
	margin-bottom: 10px;
	display: inline-block;
	font-size: 1.5em;
	color: lighten($text_color_1, 5%);
}

input[type="text"], input[type="password"], textarea {
	width: 100%;
	background:#fff;
	border: $default_border;
	margin-bottom: 20px;
	padding:20px;
	border-radius: 5px;
}

input[type="text"], input[type="password"] {
	padding: 15px 0 15px 10px;
}

button, .button {
	$background: $soft_red;
	background: $background;

	border-radius: 5px;
	padding: 10px 20px;
	display: block;
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 0;
	border-bottom: 3px solid darken($background, 10%);
	text-transform: uppercase;
	letter-spacing: 2px;

	&:hover {
		background: darken($background, 10%);
	}

	@include clearfix();
}

.button.small {
	padding: 5px 10px;
}

.button.large {
	padding: 15px 30px;
}

.button.green {
	$background: #3BC567;
	background: $background;
	border: 0;
	color: #fff;
	border-bottom: 3px solid darken($background, 10%);
	&:hover {
		background: darken($cool_green, 10%);
	}
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.tagline {
	font-size: 48px;
	text-align: center;
}

.error {
	color: $error_color
}

.error.box {
	background: lighten($error_color, 45%);
	border: 1px solid $error_color;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}
