@font-face {
	font-family: 'InsaniburgerwithCheese';
	src: url('../fonts/insaniburger/InsaniburgerwithCheese.eot?') format('eot'), 
	     url('../fonts/insaniburger/InsaniburgerwithCheese.woff') format('woff'), 
	     url('../fonts/insaniburger/InsaniburgerwithCheese.ttf')  format('truetype'),
	     url('../fonts/insaniburger/InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg');
}

body,html {
	margin: 0;
	padding: 0;
	background: #f7f7f7;
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-family: 'Futura';
	font-size: 40px;	
}

h2 {
	font-family: 'Futura';
	font-size: 24px;
}

ul li a {
	text-decoration: none;
}


