@font-face {
	font-family: 'InsaniburgerwithCheese';
	src: url('../fonts/insaniburger/InsaniburgerwithCheese.eot?') format('eot'), 
	     url('../fonts/insaniburger/InsaniburgerwithCheese.woff') format('woff'), 
	     url('../fonts/insaniburger/InsaniburgerwithCheese.ttf')  format('truetype'),
	     url('../fonts/insaniburger/InsaniburgerwithCheese.svg#InsaniburgerwithCheese') format('svg');
}

body,html {
	margin: 0;
	padding: 0;
	background: #F1F1F1;
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
}

h1 {
	font-family: 'Futura';
	font-size: 40px;	
}

h2 {
	font-family: 'Bariol';
	color: #6d6d6d;
	font-size: 24px;
}

ul li a {
	text-decoration: none;
}

input[type="text"],textarea {
	width: 100%;
	background:#fff;
	border: $default_border;
}

button, .button {
	$background: $soft_red;
	background: $background;
	padding: 5px 10px;
	border: darken($background, 10%);
	color: #fff;
	margin-top: 5px;
	border-radius: 5px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.tagline {
	font-size: 48px;
	text-align: center;
}

.button {
	border-radius: 5px;
	background: #EBEBEB;
	color: #000;
	padding: 5px 10px;
	display: block;
	text-align: center;
	cursor: pointer;

	&:hover {
		background: darken($cool_green, 10%);
	}
}

.button.green {
	color: #fff;
	background: #3BC567;

	&:hover {
		background: darken($cool_green, 10%);
	}
}