.container {
	padding-left: 20px;
	padding-right: 20px;

	@include media(1000px) {
		margin: 0 auto;	
		width: 1000px;
		padding-left: 0;
		padding-right: 0;
	}
}

.row {
	@include row();
}

ul.horizontal {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		a {
			padding: $spacing;
		}
	}
}

#header .logo-medium {
	@include span-columns(3 of 24);
}

#header .login {
	@include span-columns(5 of 24);
	@include shift(16 of 24);
}

#profile_listings .profile {
	@include media(1000px) {
		@include span-columns(6 of 12);
	}

	@include span-columns(12 of 12);
}

#body {
	padding: 20px 0;
}
