.row {
	@include row();
	// padding: $spacing;
}

ul.horizontal {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		a {
			padding: $spacing;
		}
	}
}

#header .logo-medium {
	@include span-columns(3 of 24);
}

#header .login {
	@include span-columns(5 of 24);
	@include shift(16 of 24);
}

#profile_listings .profile {
	@include span-columns(12 of 12);
}