* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'InsaniburgerwithCheese';
  src: url("../fonts/insaniburger/InsaniburgerwithCheese.eot?") format("eot"), url("../fonts/insaniburger/InsaniburgerwithCheese.woff") format("woff"), url("../fonts/insaniburger/InsaniburgerwithCheese.ttf") format("truetype"), url("../fonts/insaniburger/InsaniburgerwithCheese.svg#InsaniburgerwithCheese") format("svg"); }
body, html {
  margin: 0;
  padding: 0;
  background: #F1F1F1;
  font-family: 'Roboto', 'Helvetica Neue' sans-serif;
  font-size: 1em; }

h1 {
  font-family: 'Futura';
  font-size: 3.5em;
  color: #000; }

h2 {
  font-family: 'Bariol';
  color: #3a3a3a;
  font-size: 2.5em; }

ul li a {
  text-decoration: none; }

label {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 1.5em;
  color: #474747; }

input[type="text"], input[type="password"], textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px; }

input[type="text"], input[type="password"] {
  padding: 15px 0 15px 10px; }

button, .button {
  background: #f4726d;
  border-radius: 5px;
  padding: 10px 20px;
  display: block;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  border-bottom: 3px solid #f0443e;
  text-transform: uppercase;
  letter-spacing: 2px; }
  button:hover, .button:hover {
    background: #f0443e; }
  button:before, button:after, .button:before, .button:after {
    content: " ";
    display: table; }
  button:after, .button:after {
    clear: both; }

.button.small {
  padding: 5px 10px; }

.button.large {
  padding: 15px 30px; }

.button.green {
  background: #3bc567;
  border: 0;
  color: #fff;
  border-bottom: 3px solid #2f9e52; }
  .button.green:hover {
    background: #2f9e52; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.tagline {
  font-size: 48px;
  text-align: center; }

.error {
  color: #e91a12; }

.error.box {
  background: #fde5e4;
  border: 1px solid #e91a12;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.container {
  padding-left: 20px;
  padding-right: 20px; }
  @media screen and (min-width: 1000px) {
    .container {
      margin: 0 auto;
      width: 1000px;
      padding-left: 0;
      padding-right: 0; } }

.row {
  display: block; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

ul.horizontal {
  margin: 0;
  padding: 0; }
  ul.horizontal li {
    display: inline-block; }
    ul.horizontal li a {
      display: inline-block;
      padding: 20px; }

#header .logo-medium {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 11.48055%; }
  #header .logo-medium:last-child {
    margin-right: 0; }

#header .login {
  float: left;
  display: block;
  margin-right: 1.16509%;
  width: 19.91097%;
  margin-left: 67.44339%; }
  #header .login:last-child {
    margin-right: 0; }

#profile_listings .profile {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  @media screen and (min-width: 1000px) {
    #profile_listings .profile {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      #profile_listings .profile:last-child {
        margin-right: 0; } }
  #profile_listings .profile:last-child {
    margin-right: 0; }

#body {
  padding: 20px 0; }

#header {
  display: block;
  background: #f4726d;
  padding: 15px 20px;
  color: #fff; }
  #header:before, #header:after {
    content: " ";
    display: table; }
  #header:after {
    clear: both; }

.logo-medium img {
  width: 100%; }

.login span {
  margin: 10px; }

#navigation {
  background: #2e2d2d;
  border-bottom: 1px solid #484646; }
  #navigation ul li:last-child a {
    border-right: 1px solid #484646; }
  #navigation ul li a {
    border-left: 1px solid #484646;
    padding: 10px 20px;
    color: #d1d2d2;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px; }
    #navigation ul li a:hover {
      background: #333232; }

.post {
  padding: 20px;
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #fff; }
  .post .title {
    font-size: 14px;
    color: #fe5819;
    margin-bottom: 10px; }
  .post .content {
    font-size: 12px;
    font-family: 'Verdana';
    line-height: 1.5;
    color: #404040; }

.profile {
  background: #fff;
  margin-bottom: 20px; }
  .profile .header, .profile .body {
    padding: 10px;
    display: block; }
    .profile .header:before, .profile .header:after, .profile .body:before, .profile .body:after {
      content: " ";
      display: table; }
    .profile .header:after, .profile .body:after {
      clear: both; }
  .profile .header {
    border-bottom: 1px solid #cccccc; }
  .profile .name {
    padding-top: 4px;
    font-size: 14px;
    text-align: center;
    color: #f4726d;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 74.70873%; }
    .profile .name:last-child {
      margin-right: 0; }
  .profile .follow {
    float: left;
    display: block;
    margin-right: 1.16509%;
    width: 24.12618%; }
    .profile .follow:last-child {
      margin-right: 0; }
  .profile .location {
    color: #666;
    font-weight: bolder;
    font-size: 10px; }

.follow {
  position: relative;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .follow:hover .plus {
    color: #3bc567; }
  .follow .plus {
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 0px;
    color: #23773e; }
  .follow .text {
    text-transform: uppercase;
    font-size: 10px; }
