* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'InsaniburgerwithCheese';
  src: url("../fonts/insaniburger/InsaniburgerwithCheese.eot?") format("eot"), url("../fonts/insaniburger/InsaniburgerwithCheese.woff") format("woff"), url("../fonts/insaniburger/InsaniburgerwithCheese.ttf") format("truetype"), url("../fonts/insaniburger/InsaniburgerwithCheese.svg#InsaniburgerwithCheese") format("svg"); }
body, html {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: 'Ubuntu', sans-serif; }

h1 {
  font-family: 'Futura';
  font-size: 40px; }

h2 {
  font-family: 'Futura';
  font-size: 24px; }

ul li a {
  text-decoration: none; }

.row {
  display: block;
  padding: 20px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

ul.horizontal {
  margin: 0;
  padding: 0; }
  ul.horizontal li {
    display: inline; }
    ul.horizontal li a {
      padding: 20px; }

.header {
  display: block;
  background: #fff; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.logo-medium {
  width: 200px; }
  .logo-medium img {
    width: 100%; }

.navigation {
  background: #efefef;
  color: #000; }
  .navigation ul li:last-child a {
    border-right: 1px solid #b3b3b3; }
  .navigation ul li a {
    border-left: 1px solid #b3b3b3;
    padding: 20px;
    color: gray; }
    .navigation ul li a:hover {
      background: #e6e6e6; }

.post {
  padding: 20px;
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #fff; }
  .post .title {
    font-size: 14px;
    color: #fe5819;
    margin-bottom: 10px; }
  .post .content {
    font-size: 12px;
    font-family: 'Verdana';
    line-height: 1.5;
    color: #404040; }
