extends master
block footer_files	
	script(src="js/directives/directives.js")
	script(src="js/directives/navigation.js")
	script(src="js/directives/login.js")
	script(src="js/directives/error.js")
	script(src="js/directives/feed.js")
	script(src="js/directives/follow_button.js")
	script(src="js/directives/listings.js")
	script(src="js/services.js")
	script(src="js/controllers.js")
	script(src="js/app.js")