extends default
block header
	.row
		.logo-medium
			img(src="img/logo.png")
	.navigation.row
		#navigation(data-ng-app="navigationModule" data-ng-controller="navigationController" data-rolling-navigation="navItems")
block body
block footer
