html
	head
		title
		include ../partials/dependencies
		link(href='http://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/app.css")
	body
		block main
		script(src="js/directives/directives.js")
		script(src="js/directives/navigation.js")
		script(src="js/directives/listings.js")
		script(src="js/services.js")
		script(src="js/controllers.js")
		script(src="js/app.js")